html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.version {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: small;
  font-style: italic;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-area {
  flex: 1;
}

.middle-area {
  display: flex;
  justify-content: center;
}

.bottom-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.grid {
  fill: #175DDE;
  fill-rule: evenodd;
}

.piece-human {
  fill: red;
}

.piece-computer {
  fill: yellow;
}

.piece-highlight {
  fill: none;
  stroke: magenta;
  stroke-width: 4px;
}
